---
layout: default
---
<div class="jumbotron jumbotron-fluid bg-dark text-white text-center">
    <div class="container">
        <h1 class="jumbotron-heading">2018 <i class="fas fa-compact-disc"></i> 20</h1>
        <p class="lead text-muted">{{ site.description }}</p>
        <a href="https://github.com/jcimo1/music" class="btn btn-primary">Find me on GitHub <i class="fab fa-github"></i></a>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for album in site.data.albums %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card bg-dark text-white mb-3">
                    <a href="#modal{{ album.rank }}" data-toggle="modal" data-target="#modal{{ album.rank }}"><img src="{{ album.artwork }}" class="card-img-top"></a>
                    <div class="card-header">
                        <h4 class="card-title mb-0">{{ album.rank }}. {{ album.title }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-0">Artist: {{ album.artist }}</p>
                        <p class="card-text mb-0 text-muted">Released {{ album.released | date: "%b %e" }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group mt-2">
                                {% if album.spotify %}
                                <a href="{{ album.spotify }}" target="_blank" type="button" class="btn btn-sm btn-light btn-outline-dark"><i class="fab fa-spotify"></i></a>
                                {% endif %}
                                {% if album.apple %}
                                <a href="{{ album.apple }}" target="_blank" type="button" class="btn btn-sm btn-light btn-outline-dark"><i class="fab fa-apple"></i></a>
                                {% endif %}
                                {% if album.youtube %}
                                <a href="{{ album.youtube }}" target="_blank" type="button" class="btn btn-sm btn-light btn-outline-dark"><i class="fab fa-youtube"></i></a>
                                {% endif %}
                            </div>
                            <small class="text-muted">{{ album.minutes }} mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal bg-warning text-white fade" id="modal{{ album.rank }}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ album.title }} | Listen Now</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="text-white far fa-times-circle"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe src="{{ album.embed }}" style="width: 100%; height: 380px;" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <div>
</div>
