<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<!--

    /$$$$$  /$$$$$$  /$$$$$$ /$$      /$$  /$$$$$$            /$$   /$$ /$$     /$$ /$$$$$$$$
   |__  $$ /$$__  $$|_  $$_/| $$$    /$$$ /$$__  $$          | $$  / $$|  $$   /$$/|_____ $$
      | $$| $$  \__/  | $$  | $$$$  /$$$$| $$  \ $$          |  $$/ $$/ \  $$ /$$/      /$$/
      | $$| $$        | $$  | $$ $$/$$ $$| $$  | $$           \  $$$$/   \  $$$$/      /$$/
 /$$  | $$| $$        | $$  | $$  $$$| $$| $$  | $$            >$$  $$    \  $$/      /$$/
| $$  | $$| $$    $$  | $$  | $$\  $ | $$| $$  | $$           /$$/\  $$    | $$      /$$/
|  $$$$$$/|  $$$$$$/ /$$$$$$| $$ \/  | $$|  $$$$$$/    /$$   | $$  \ $$    | $$     /$$$$$$$$
\______/   \______/ |______/|__/     |__/ \______/    |__/   |__/  |__/    |__/    |________/

MADE by JERRY CIMO
~ ~ jcimo.xyz ~ ~

-->

    {% include head.html %}

    <body class="bg-secondary">
        {{ content }}
    </body>

</html>
